{% extends "base_generic.html" %}

{% block content %}

    <h1>Lista de Serviços</h1>
    <ul>
        {% for servico in servicos %}
            <li>
                {{ servico.id }} - {{ servico.descricao }} - R$ {{ servico.valor }}

                <!-- Link para editar o cliente -->
                <a href="{% url 'servico_editar' servico.id %}">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'servico_excluir' servico.id %}">
                    <i class="fas fa-trash"></i>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

