<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Cliente</title>
</head>
<body>
    <h1>Inserir Serviço</h1>
    <form method="post">
        {% csrf_token %}
        <label for="descricao">Descrição:</label><br>
        <input type="text" id="descricao" name="descricao"><br>
        <label for="valor">Valor:</label><br>
        <input type="text" id="valor" name="valor"><br>
        <label for="duracao">Duração:</label><br>
        <input type="text" id="duracao" name="duracao"><br><br>
        <button type="submit">Salvar</button>
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </form>
</body>
</html>
